body {
    margin: 0;
    overflow: hidden;
}

div.tooltip {	
    position: absolute;
    width: 200px;
    padding: 2px;
    font: 24px sans-serif;
    background: white;
    border-radius: 3px;
    padding-right: 30px;
}
