body {
    margin: 0;
    overflow: hidden;
}

div.tooltip {	
    position: absolute;
    width: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border-radius: 3px;
    pointer-events: none;
}
